# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
backend/venv/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python test cache
.pytest_cache/

# Logs
*.log

# Uploaded files
backend/uploads/*
!backend/uploads/.gitkeep

# Image uploads
backend/image_uploads/

# ChromaDB database
backend/chroma_db/

structure.txt
tree.txt